.motif-desc {
    margin-top: 10px;
    margin-bottom: 0px;
}

.motif-desc a {
    text-decoration: none;
    color: black;
}

.motif-name {
    font-size: 24px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}