* {
  font-size: 100%;
  font-family: Avenir;
  line-height: 1.4;
  font-size: 16px;
}
.content-container {
  padding: 1rem 4rem;
}
body {
  margin: 0;
}
.nav-bar {
  background-color: #303030;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: normal;
  text-align: justify;
}

.wrapper > * {
  padding: 1px;
  flex: 1 100%;
}

.slider{
  max-width: 550px;
  max-height: 400px;
  position: relative;
  /*Instead of height we will use padding*/
  padding-top: 363px; /*That helps bring the labels down*/
  margin-top: 60px;
  margin-bottom: 163px;
margin-left: auto;
margin-right: auto;

  /*Lets add a shadow*/

}

.slider img {
  max-width: inherit;
  max-height: inherit;

  width: auto;
  height: auto;
  margin:auto;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.header {
  font-weight: bold;
  padding: 10px 15% 10px 15%;
}

.name {
}

.date {
  float: right;
}

.footer {
  background: lightgreen;
  font-weight: normal;
}

.main {
  padding: 10px 15% 1px 15%;
}

caption {
  width: 550px;
  height: 20%;
  /* background: rgba(0, 0, 0, 50); */
  font-size: 11px;
  text-decoration-color: : #FFFFFF;
}

/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 0; bottom: 0;
  transition: all 0.5s;
}

.slider>caption{
  position: absolute;
  left: 0; bottom: 0;
  transition: all 0.5s;
}


.slider input[name='slide_switch'] {
  display: none;
}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  position: relative;
  overflow: hidden;
  height: 55px;
  width: 55px;
  margin: 12px 0 0 10px;
  border: 3px solid #999;
  float: left;
  cursor: pointer;
  transition: all 0.5s;

  /*Default style = low opacity*/
  opacity: 0.6;
}

.slider label img.portrait {
  /* display: block; */
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  /* width: 100%;
  height: auto; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate( -50%, -50%); */
}

.slider label img.landscape {
    position: absolute;
  max-height: 100%;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}


.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
