* {
  font-size: 100%;
  font-family: Avenir;
  line-height: 1.4;
  font-size: 16px;
}
.content-container {
  padding: 1rem 4rem;
}
body {
  margin: 0;
}
.nav-bar {
  background-color: #303030;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: normal;
  text-align: justify;
 }

 .wrapper > * {
  padding: 10px;
  flex: 1 100%;
 }

 .header {
   font-weight: bold;
   padding: 10px 10% 10px 10%;
 }

 .footer {
  background: lightgreen;
  font-weight: normal;
 }

 .main {
  padding: 10px 10% 10px 10%;
 }

 .aside-1 {
  background: gold;
 }

 .aside-2 {
  background: hotpink;
 }

 @media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
 }

 @media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
 }

 body {
  padding: 2em;
 }